
.menu_bar {
  flex-direction: row;
}
.header_img {
  text-align: center;
}
.slider_container {
  padding: 0;
  margin: 0;
}
.slider img{
  width: 100%;
  height: auto;
}
.contents {
  display: flex;
}
.instagram {
  text-align: center;
  width: 50%;
  height: 150px;
  background-image: url("http://cdn.goope.jp/25549/180706081422-5b3ea64ec86da.png");
  background-size: contain ;
  background-repeat: no-repeat;
}