
.menu_bar {
  flex-direction: row;
}
.header_img {
  text-align: center;
}
.slider_container {
  padding: 0;
  margin: 0;
}
.slider img{
  width: 100%;
  height: auto;
}
.contents {
  display: flex;
}