<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="./index.html">
  <link rel="stylesheet" href="./css/response.css">
  <title>フッター</title>
</head>
<body>
<!-- footer -->

  <footer>
    <div id = "footerTop">
      <div class="upIcon">
        <i class="fas fa-angle-double-up"></i>
      </div>
    </div>
    <button class="menu">
      <ul class="menuBar">
        <li><a href="#">HOME</a></li>
        <li><a href="#">Skill</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </button>
  </footer>
<!-- footer -->


  <script src="./js/script.js"></script>
</body>
</html>