<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/response.css">

  <title>自己紹介</title>
</head>

<body id="setting">
  <div id="header"><iframe src="./header.html" frameborder="0" scrolling="no" width="600" height="450" style="border:0"
      allowfullscreen></iframe></div>
  <div id="topContents"><iframe src="./topContents.html" frameborder="0" scrolling="no" width="600" height="450"
      style="border:0" allowfullscreen></iframe></div>
  <div id="Works"><iframe src="./Works.html" frameborder="0" scrolling="no" width="600" height="450" style="border:0"
      allowfullscreen></iframe></div>
  <div id="footer"><iframe src="./footer.html" frameborder="0" scrolling="no" width="600" height="450" style="border:0"
      allowfullscreen></iframe></div>

  <script src="./js/script.js"></script>
</body>

</html>