<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/response.css">

  <title>topContents</title>
</head>
<body>
  <div class="container">
    <h2 class="introductionParament">
      <span class="span">ここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書くここに自己紹介文を書く</span>
    </h2>
  </div>
  <script src="./js/script.js"></script>
</body>
</html>